<h1>This is stuff in Controller2, view 2a</h1>
<p>Find me in app/views/controller2/stuff2a.html.erb</p>

<!-- bring in partial -->
<%= render "important" %>
<div>
(Notice the yellow background, indicating a different layout.)	
</div>

<%= link_to "Page 2b", page2b_path %>