<h1>Welcome Controller, index page</h1>
<h2>WELCOME!</H2>

<div>
	<%=	link_to "See our beautiful 'links' page!", links_path %>
</div>
<br>
<div>
By the way, here's the result of @myVar1, which is <%= @myVar1 %>
</div>
<div>
<h1>HEY</h1> That didn't work. Why is my variable not showing up?	
</div>
