
<h1>This is the links page</h>

<h2>It is also in the welcome controller</h2>

<div>
	<%=	link_to "See our beautiful '2a' page!", page2a_path %>
</div>
<div>
	<%=	link_to "See our beautiful '2b' page!", page2b_path %>
</div>